*.class

# Package Files #
*.jar
*.war
*.ear
*.DS_Store
*.iml
*.idea/
target/
!FitNesseRoot
FitNesseRoot/ErrorLogs/
FitNesseRoot/files/
FitNesseRoot/RecentChanges/
*.zip
!FitNesseRoot/FitNesse/
FitNesseRoot/FitNesse/SampleWiki/
FitNesseRoot/FitNesse/ReleaseNotes/
FitNesseRoot/FitNesse/SuiteAcceptanceTests/
FitNesseRoot/FitNesse/SuiteFitAcceptanceTests/
FitNesseRoot/FitNesse/UserGuide/

